
body {
    background-color: #000080;

    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: white;
    margin-top: 100px;
    font-size: 70px;
    font-weight: bold;
}

p {
    color: white;
    font-size: 18px;
}

@media (max-width: 700px) {
    .div1 img.fit {
        width: 50%;
        height: auto;
}

.div2 img.fit {
    width: 50%;
    height: auto;
}

h1 {
    font-size: 40px; /* Adjust the font size for h1 element */
    margin-top: 50px; /* Adjust the margin top for h1 element */
}

p {
    font-size: 14px; /* Adjust the font size for paragraphs */
}


